{% extends 'base.html' %}

{% block title %}home{% endblock %}

{% block content %}
<form action="/" method="POST" enctype="multipart/form-data">
  <div class="audio-form">
    <div class="left-side">
      <div class="file">
        <label>
          ファイルを選択
          <input type="file" name="audio_file" accept="audio/*">
        </label>
        <p class="file_name"></p>
      </div>
      <p class="drop_file">ここにファイルをドロップしてください<br>※まだ使用できません</p>
    </div>

    <div class="right-side">
      <input class="api_key" type="text" name="api_key" placeholder="OpenAIのAPIキーを入力してください">
      <div class="send_file">
        <input class="upload" type="submit" value="議事録作成">
      </div>
      <div class="form">
        <p class="title">議事録</p>
        {% if result %}
        <p class="text_result">{{result}}</p>
        {% else %}
        <p class="text">※ここに議事録が表示されます</p>
        {% endif %}
      </div>
</form>

      <div class="save-button">
        {% if result %}
        <form action="/download_pdf">
          <input type="hidden" name="text_data" value="{{ session['text_data'] }}">
          <button class="save">PDF化する</button>
        </form>
        <form action="/edit" method="POST">
          <input type="hidden" name="text_data" value="{{ session['text_data'] }}">
          <button class="save edit">編集する</button>
        </form>
        {% else %}
        <button class="save" disabled>PDF化する</button>
        <form action="/edit" method="GET">
          <button class="save edit" disabled>編集する</button>
        </form>
        {% endif %}
      </div>
    </div>
  </div>


<script>
  /* ファイル名表示 */
  document.querySelector('input[name="audio_file"]').addEventListener('change', function(e){
    let parent = this.closest('.file');
    parent.querySelector('.file_name').innerHTML = '';
    for (file of e.target.files){
      parent.querySelector('.file_name').insertAdjacentHTML('beforeend', file.name.replace(/\\/g, '&#92;') + '<br>');
    }
  });
</script>
{% endblock %}